version: 2
updates:
  - package-ecosystem: "npm" # or "docker", "pip", etc.
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
      time: "04:00"
      timezone: "Europe/Berlin"
    target-branch: "dev"
