
@import url("../normalize.css");

@import url("../shared-styles.css");

body {
    margin: 0;
    line-height: 1.5;
    min-height: 100vh;
    background-color: #eeeeee;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
}

.content {
    padding: 2em;
}

.frame {
    margin: 0 auto;
    width: 100%;
}

.frame .toolbar {
    height: 40px;
    padding: 10px;
    background-color: white;
    vertical-align: middle;
}

.frame .toolbar .title {
    font-size: 30px;
    float: left;
}

.frame input {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
    border-radius: 5px;
    padding: 0.5em;
    font-family: sans-serif;
    box-sizing: border-box;
    outline-width: 0;
    cursor: pointer;
    float: right;
}

.frame .toolbar {
    height: 40px;
    padding: 10px;
    background-color: white;
}

p.copyright {
    text-align: center;
    padding: 2em;
}

.logo {
    margin-right: 0.5em;
    height: 40px;
    width: 40px;
    float: left;
}

